[package]
name = "pnp"
version = "0.10.0"
edition = "2021"
license = "BSD-2-Clause"
description = "Resolution primitives for Yarn PnP"
homepage = "https://yarnpkg.com"
repository = "https://github.com/yarnpkg/pnp-rs"

[dependencies]
byteorder = "1"
clean-path = "0.2.1"
concurrent_lru = "^0.2"
fancy-regex = { version = "^0.13.0", default-features = false }
indexmap = { version = "2.7.1", features = ["serde"] }
lazy_static = "1"
miniz_oxide = "^0.7"
mmap-rs = { version = "^0.6", optional = true }
path-slash = "0.2.1"
pathdiff = "^0.2"
radix_trie = "0.2.1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_with = {  version = "3", features = ["indexmap_2"] }
thiserror = "2"

[dev-dependencies]
rstest = "0.25.0"
criterion = "0.5"

[[bench]]
name = "vpath_bench"
harness = false

[features]
mmap = ["dep:mmap-rs"]
